{# empty Twig template #}
{%extends "/layout/base.twig"%}

{%block css%}
{{parent()}}
{%endblock%}
{%block content%}
{%include "/layout/menu.twig"%}
<div id="wrap" class="wrap">
         
    <div class="content">
        {% if app.session.hasFlash('success') %}
        <div class="alert alert-block alert-success">
           
                    {{ app.session.flash('success') | raw }}
        </div>
            {% elseif app.session.hasFlash('error') %}
        <div class="alert alert-block alert-error">
            <h4>Error</h4>
                    {{ app.session.flash('error') | raw }}
        </div>
            {% endif %}
        <form class="formulaire" action="#" method="post" {{ form_enctype(form) }} novalidate>
                   
                    {{ form_widget(form) }}
                    <div id="wrapper" class="preset-2">
                            <span class="tooltip">Saisir une date pour planifier la publication de l'article (Date actuelle par d&eacute;faut)</span>
                    </div>
                    <input type="submit" name="Ajouter" class="btn btn-large btn-primary" />
               </form>
 </div>
    </div>

	
{% endblock %}

